.git
.gradle
build
work
samples/hls/*
!samples/hls/.gitkeep
soccernet
.bash_profile
.bashrc
.gitconfig
.gitmodules
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
docs
scripts
HELP.md
compose.yaml
*.md
